<!DOCTYPE >
<html>
    <head>
        <link rel="icon" href="/img/pic1.png">
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        </div>
        
        {{>footer}}
    </body>
</html>